<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHAePvuOIH-oI8jaCBbWDBhEusguJsUyc</string>
	<key>GCM_SENDER_ID</key>
	<string>879908866637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chewybytes.outsideir35jobs.app.internal</string>
	<key>PROJECT_ID</key>
	<string>outsideir35-jobs</string>
	<key>STORAGE_BUCKET</key>
	<string>outsideir35-jobs.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879908866637:ios:ac128a3cf280fc3c79ea04</string>
</dict>
</plist>